/* Mobile & Tablet Styles */
#topbar {
    background-color: #0084fd;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 500;
}

.header-container {
    width: 85%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}

.left-section, .right-section {
    font-size: 20px;
}

.left-section img {
    width: 100px;
}

.fa-solid.fa-bars {
    color: #ffff;
}

nav {
    display: none;
}

/* Desktop Media Query */
@media all and (min-width: 769px) {
    .header-container {
        width: 65%;
        margin: 0 auto;
    }

    #topbar .right-section {
        display: none;
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav li {
        padding: 0 20px;
        font-size: 18px;
    }

    li a {
        color: #ffff;
    }
    
    .nav-button a {
        background: #ffff;
        padding: 10px 20px;
        border-radius: 35px;
        color: black;
    }
}